[submodule "modules/terraform-oci-identity"]
	path = modules/terraform-oci-identity
	url = git@github.com:mikamakusa/terraform-oci-identity.git
[submodule "modules/terraform-oci-core"]
	path = modules/terraform-oci-core
	url = git@github.com:mikamakusa/terraform-oci-core.git
